@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro&family=Fira+Code&family=PT+Serif&display=swap');

:root {
	--main-bg:#3b4252;
	/* --main-bg:#384357; */
	--wrap-bg: #2e3440;
	/* --wrap-bg: #2A3547; */
	--default-text: #eceff4;
	--darker-text: #d8dee9;
	--link-hover: #88c0d0;
	--white: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', arial;
	letter-spacing: 0.2px;
	background: var(--main-bg);
	color: var(--default-text);
	font-size: 1.5rem;
	/* height: 100%; */
	/* width: 100%; */
}

.wrap {
 	height: 100vh;
	display: grid;
	grid-template-rows: 12% calc(80% - 0.6rem) calc(8% - 0.6rem);
	grid-gap: 0.6rem;
	padding: 0.6rem;
}

.header {
	display: grid;
	grid-gap: 0.6rem;
}

@media screen and (min-width: 550px) {
	.header, .index-wrap {
		grid-template-columns: 1fr 1fr;
	}
}

.header nav, .header h1, footer {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.header nav a {
	font-size: 1.5rem;
	margin: 0rem 2rem;
}

.header nav a:hover {
	border-bottom: 2px solid var(--link-hover);
	color: var(--link-hover);
}

.box {
	background: var(--wrap-bg);
	border-radius: 5px;
}

a {
	color: var(--default-text);
	text-decoration: none;
}

.active {
	font-weight: bold;
	border-bottom: 2px solid var(--default-text);
}

img {
	height: 400px;
	width: auto;
}

.index-wrap {
	display: grid;
	grid-gap: 0.6rem;
}

.index-wrap, .about-wrap {
	height: 100%;
}

.index-wrap > h1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.posts-aside, .about-wrap {
	display: grid;
	justify-items: center;
	align-content: center;
}

.posts-aside {
	overflow: scroll;
}

.posts-aside a {
	padding: 1rem;
	display: grid;
	align-content: center;
	justify-items: center;
}

.posts-aside a:hover {
	border: 5px solid var(--white);
}

.about-wrap a {
	font-size: 1.5rem;
}

.blogpost-wrap {
	height: 76vh;
	max-width: 70vw;
	overflow: scroll;
	margin: 0 auto;
}

.blogpost-wrap p, .blogpost-wrap li {
	padding: 0.3rem;
}

.blogpost-wrap > p {
	padding-bottom: 1.5rem;
}

.blogpost-wrap ul  {
	padding-left: 1.5rem;
}

/* .blogpost-wrap p, .blogpost-wrap li, .blogpost-wrap div {
	
} */

.blogpost-header {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

img {
	padding: 1rem 0;
}

.post-title {
	font-size: 3rem;
	font-family: 'PT Serif';
}

.post-navigation {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
	
}

.post-navigation > * {
	padding: 0.5rem 1rem;
	color: var(--darker-text);
}

.post-navigation > *:hover {
	color: var(--white);
	background: var(--main-bg);
	border-bottom: 4px solid var(--link-hover);
}

.post-navigation h3 {
	font-size: 1.4rem;
	font-weight: lighter;
}

.post-navigation h2 {
	font-size: 1.6rem;
}

pre {
	background-color: var(--wrap-bg);
	color: var(--darker-text);
	padding: 1rem;
	margin: 1rem 0;
	border-radius: 5px;
}

code {
	font-family: 'Fira Code';
}

span {
	display: inline-block;
	height: 48px;
	width: 48px;
}