@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Special+Elite&family=Fira+Code&family=PT+Serif&display=swap');

:root {
	--main-bg:#3b4252;
	--wrap-bg: #2e3440;
	--wrap-bg-hover: #333A47;
	--default-text: #eceff4;
	--darker-text: #d8dee9;
	--grayed-out-text: #5e6a82;
	--link-hover: #88c0d0;
	--white: #fff;
	/* --main-bg:#384357; */
	/* --wrap-bg: #2A3547; */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', arial;
	letter-spacing: 0.2px;
	background: var(--main-bg);
	color: var(--default-text);
	font-size: 1.3rem;
	line-height: 1.8;
}

.wrap {
 	height: 100vh;
	display: grid;
	grid-template-rows: 12% calc(80% - 0.6rem) calc(8% - 0.6rem);
	grid-gap: 0.6rem;
	padding: 0.6rem;
}

.header {
	display: grid;
	grid-gap: 0.6rem;
}

.header nav, .header h1, footer {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.header h1 {
	color: var(--grayed-out-text);
}

.header nav a {
	font-size: 1.5rem;
	margin: 0rem 2rem;
}

.header nav a:hover {
	border-bottom: 2px solid var(--link-hover);
	color: var(--link-hover);
}

footer {
	padding: 1rem;
}

.box {
	background: var(--wrap-bg);
	border-radius: 5px;
}

a {
	color: var(--default-text);
	text-decoration: none;
}

.active {
	font-weight: bold;
	border-bottom: 2px solid var(--default-text);
}

.index-wrap {
	display: grid;
	grid-gap: 0.6rem;
	justify-items: center;
}

.main-sidebar {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-sidebar p {
	width: 50ch;
}


.index-wrap, .about-wrap {
	height: 100%;
}

.about-wrap {
	display: grid;
	justify-items: center;
	align-content: center;
}

.posts-aside {
	overflow: auto;
	background-image: url('../static/pattern.png');
	background-size: 50px;
	image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

.post-card {
	display: block;
	width: 50%;
	margin: 0 auto;
	overflow: hidden;
	/* text-align: center; */
	padding-bottom: 1.2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 1.1rem;
	box-shadow: 5px 8px 8px var(--wrap-bg);
}

.post-card:hover {
	background: var(--wrap-bg-hover);
}

.post-card img {
	width: 100%;
	height: auto;
}

.post-card p, .post-card h1 {
	padding: 0 1rem;
}

.about-wrap a {
	font-size: 1.5rem;
}

.blue-link {
	color: var(--link-hover);
	font-weight: bold;
}

.blue-link:hover {
	border-bottom: 2px solid var(--link-hover);
}

.blogpost-wrap {
	/* height: 100%; */
	/* max-width: 70vw; */
	max-width: 75ch;
	overflow: auto;
	margin: 0 auto;
	scrollbar-width: none;
}

.blogpost-wrap::-webkit-scrollbar {
	display: none;
}

.blogpost-wrap p, .blogpost-wrap li {
	padding: 0.3rem;
}

.blogpost-wrap > p {
	padding-bottom: 2rem;
}

.blogpost-wrap ul  {
	padding-left: 1.5rem;
}

.blogpost-header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* border-bottom: 2px solid var(--grayed-out-text); */
	padding: 0.8rem 0;
	margin-bottom: 0.5rem;
}

.post-title {
	font-size: 2.5rem;
	font-family: 'PT Serif';
}

.post-date {
	font-family: 'Fira Code';
}

.post-navigation {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
}

.post-navigation > * {
	padding: 0.5rem 1rem;
	color: var(--darker-text);
}

.post-navigation > *:hover {
	color: var(--white);
	background: var(--main-bg);
	border-bottom: 4px solid var(--link-hover);
}

.post-navigation h3 {
	font-size: 1.4rem;
	font-weight: lighter;
}

.post-navigation h2 {
	font-size: 1.6rem;
}

pre {
	background-color: var(--wrap-bg);
	color: var(--darker-text);
	padding: 1rem;
	margin: 1rem 0;
	border-radius: 5px;
}

code {
	font-family: 'Fira Code';
}

.img-icon {
	display: inline-block;
	height: 30px;
	width: 30px;
	background-size: contain;
	vertical-align: text-top;
}

.post-image-banner {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 5px;
	overflow: hidden;
}

.read-more {
	padding-top: 2rem !important;
	color: #ebcb8b;
}

.read-more:hover {
	text-decoration: underline;
}

.read-more svg {
	margin-left: 0.5rem;
}

.photo-caption {
	color: #717e98;
	text-align: center;
}

.main-img {
	width: 200px;
}

.arrow-img {
	width: 100px;
	transform: rotate(45deg);
	image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
	margin-top: -1rem;
	margin-bottom: 3rem;
}

.purple-link {
	color: #b48ead;
	font-weight: bold;
}

.purple-link:hover {
	border-bottom: 2px solid #b48ead;
}

.notfound {
	color: #d08770;
	font-family: 'Fira Code';
	font-size: 3rem;
}

.no-mb {
	padding-bottom: 0 !important;
}

.notfound-a {
	border-bottom: 1px solid var(--default-text);
}

.notfound-a:hover {
	color: var(--link-hover);
	font-weight: bold;
	border-bottom: 2px solid var(--link-hover);
	
}

@media screen and (min-width: 550px) {
	.header, .index-wrap {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 700px) {
	h1 {
		font-size: 1.5rem !important;
	}

	h2 {
		font-size: 1.2rem !important;
	}

	h3 {
		font-size: 1rem !important;
	}

	body {
		font-size: 1rem;
	}

	img, pre {
		width: 100%;
	}

	.main-sidebar p {
		width: 30ch;
	}

	.blogpost-wrap {
		max-width: 40ch;
	}

	.blogpost-header {
		margin-bottom: -1rem;
	}

	.blogpost-title {
		padding-top: 2rem;
	}

	.post-navigation {
		flex-direction: column;
		justify-content: center;
	}

	.post-navigation > * {
		min-width: 100px;
	}

	.post-navigation h2 {
		display: none;
	}

	.post-card {
		width: 100%;
	}

	.post-image-banner {
		display: none;
	}

	.photo-caption {
		display: none;
	}

	.arrow-img {
		display: none;
	}

	.main-img {
		width: 50px;
	}
}